page-login {

    .bg{ 
        background: url(../assets/imgs/logos/login_background@2x.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:white
    }
    .scroll-content{
        padding-bottom: 0% !important;
    }
    .logo{
        width: 70%;
        justify-content: center;
        align-items: center;
        padding: 2em;
        // margin-bottom:10%;
        margin: auto;
        margin-top: 30%;
        // color:white;
        // font-size: 2em;
        // font-weight: bold;
    }
    .icons{
        color:white;
        font-size: 2.3em;
    }
    .inputBox {
        background: transparent;
        color: white;
        font-weight: 100;
        padding-left: 0px !important;
    }
    .icon-col{
        // margin: auto;
        align-self: flex-end;
        text-align: center;
    }
    .input-row{
        width:90%;
        margin: auto;
    }
    .button-row{
        width: 80%;
        margin: auto;
        justify-content: center;
        margin-top: 10%;
    }

    .btn{
        background: white;
        color:black;
        width: 100%;
        font-weight: 500;
    }
    .forgot{
        width: 80%;
        margin: auto;
        color:white;
        font-size: 14px;

        justify-content: center;
        margin-top: 3%;
    }
}
