page-basic-information {

    .bg{ 
        background: url(../assets/imgs/logos/login_background@2x.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:white
    }
        .top-card{
            background: #293446;
            border-radius: 10px;
            padding-left: 10px;
            padding-top: 7px;
            padding-bottom: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            width:100%;
        }
        .searchbar-input{
            background:#293446 !important;
            border-radius: 20px !important;
        }
        .srch{
            padding:0px !important;
        }
        .srch-icon{
            color: white;
            font-size: 2em;
            margin-left: 5px;
        }
        .searchbar-ios{
            padding: 0 !important;
            min-height: 44px;
            border-top: none !important;
            border-bottom:none !important;
            background:transparent !important;
        }
        .imagee{
            border-radius: 50%;
            width: 80%;
            border: 2px solid white;
            background: transparent;
            padding: 3px;
        }
        .name{
            width:100%;
            font-size:1.15em;
            text-transform: uppercase;
            // justify-content: center;
            font-weight: 200;
            padding-top:1%;
            padding-left: 5%;
        }
        .icon-col{
            text-align: center;
            margin: auto;
        }
        .notification-count{
            background: yellow;
            border-radius: 56%;
            position: absolute;
            width: 6vw;
            color: black;
            padding: 2px;
            left: 27px;
            top: -11px;
            font-size: 11px;
        }
        .notification-icon{
            font-size: 2.3em;
        }
        
        .designation{
            width:100%;
            // font-weight: bold;
            font-size:1em;
            // justify-content: center;
            // font-weight: 200;
            padding-top:1%;
            padding-left: 5%;
        }
        .titledash{
            width: 90% !important;
            float: right;
        }
        .titledash .toolbar-title{
            color: white !important;
            text-align: center;
            text-transform: uppercase ;
            padding:0px !important;
        overflow: visible !important;

        }
        .toolbar-background{
            background: transparent !important;
            color: white !important;
        }
        .menu-icon{
            color: white;
        }
        .edit-div{
            width: 100%;
            position: absolute;
            text-align: center;
            height: 6vw;
        }
        .edit{
            // position: absolute;
            text-align: center;
            width: 6%;
            // height: 4%;
            left: 18px;
            font-size: 1em;
            margin: auto;
            background: transparent;
            border: 1px solid;
            border-radius: 79%;
        }
        .boxes{
            width:100%;
            margin:auto;
            justify-content: center;
            // padding-top:5%;
        }
        .svg-icon{
            width:25%;
        }
        .add{
            color: #999;
           
            border-radius: 50%;
            position: absolute;
            right: 4px;
            font-size: 1.5em !important;
            top: 3px
        }
        .boxes ion-col{
            border:2px solid rgba(0, 41, 80, 0);
            border-radius: 10px;
            margin: auto;
            padding:2px;
            // padding-bottom:10px;
            height: 30vw;
            // background: #2C374D;
        }
    
        .boxes ion-icon{
            font-size: 2em;
        }
        .boxes .img-row{
            justify-content: center;
            // font-size: 12px;
            align-items:center;
            height: 60%;
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background: #2C374D;
        }
        .boxes .text-row{
            justify-content: center;
            font-size: 12px;
            // align-items:center;
            height: 40%;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #2C374D;
        }
    
    
}
