page-home {

    .bg{ 
        background: url(../assets/imgs/logos/login_background@2x.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:white
    }
    .img-div{
        width: 100%;
        text-align: center;
    }
    .imagee{
        border-radius: 50%;
        width: 30%;
        border: 2px solid white;
        background: transparent;
        padding: 3px;
    }
    .name{
        width:100%;
        font-size:1.25em;
        text-transform: uppercase;
        justify-content: center;
        font-weight: 200;
        padding-top:1%;
    }
    .department{
        width:100%;
        font-size:0.9em;
        justify-content: center;
        font-weight: 200;
        padding-top:1%;
        margin-bottom: 5%;
    }
    .designation{
        width:100%;
        font-weight: bold;
        font-size:1em;
        justify-content: center;
        // font-weight: 200;
        padding-top:1%;
    }
    .titledash .toolbar-title{
        color: white !important;
        text-align: center;
        text-transform: uppercase ;
    }
    .toolbar-background{
        background: transparent !important;
        color: white !important;
    }
    .menu-icon{
        color: white;
    }
    .edit-div{
        width: 100%;
        position: absolute;
        text-align: center;
        height: 6vw;
    }
    .edit{
        // position: absolute;
        text-align: center;
        width: 6%;
        // height: 4%;
        left: 18px;
        font-size: 1em;
        margin: auto;
        background: black;
        border: 1px solid;
        border-radius: 79%;
    }
    .boxes{
        width:100%;
        margin:auto;
        justify-content: center;
        // padding-top:5%;
    }
    .svg-icon{
        width:25%;
    }
    .boxes ion-col{
        // border:2px solid rgba(0, 41, 80, 0);
        border-radius: 10px;
        margin: auto;
        padding:2px;
        // padding-bottom:10px;
        height: 30vw;
        // background: #2C374D;
    }

    .boxes ion-icon{
        font-size: 2em;
    }
    .boxes .img-row{
        justify-content: center;
        // font-size: 12px;
        align-items:center;
        height: 60%;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        // background: #2C374D;
        background: black;
    }
    .boxes .text-row{
        justify-content: center;
        font-size: 12px;
        // align-items:center;
        height: 40%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        // background: #2C374D;
        background: black;

    }

}
