page-home {

    .bg{
        background: black;
        color: white;
    }
    .img-div{
        width: 100%;
        text-align: center;
    }
    .imagee{
        border-radius: 50%;
        width: 30%;
        border: 1px solid white;
        background: black;
        padding: 3px;
    }
}
