page-home {

    .bg{
        background: rgb(0, 41, 80);
        color: white;
    }
    .img-div{
        width: 100%;
        text-align: center;
    }
    .imagee{
        border-radius: 50%;
        width: 30%;
        border: 1px solid white;
        background: black;
        padding: 3px;
    }
    .name{
        width:100%;
        font-size:1.35em;
        text-transform: uppercase;
       justify-content: center;
       font-weight: 200;
       padding-top:1%;
    }
    .department{
        width:100%;
        font-size:1.2em;
       justify-content: center;
       font-weight: 200;
       padding-top:1%;
    }
    .designation{
        width:100%;
        font-size:1em;
       justify-content: center;
       font-weight: 200;
       padding-top:1%;
    }
    .boxes{
        width:90%;
        margin:auto;
        justify-content: center;
    }
    .boxes ion-col{
        border:2px solid black;
        border-radius: 10px;
        margin: auto;
    }
    .boxes ion-icon{
        
    }
    .boxes ion-row{
        justify-content: center;
    }
}
